---
  layout: default
---

<header class="index-header leikdagur-bg">
  {% include header.html %}
  <h2 class="index-header__subtitle">Leikur þar sem allir meiga vera <br> með bæði börn og fullorðnir</h2>
  {% include nav.html %}
</header>

<div class="index-content">
  <p class="index-content__intro-text">Dagur af leik, sköpun og ævintýri. Þetta er leikur þar sem allir mega vera með bæði börn og fullorðnir. Við byggjum hús, kveikjum elda í þorpinu okkar, tálgum, gerum sverð og bökum pinnabrauð. Allir mæta og setjast í við bálstæðið. Eldurinn er kveiktur og við kynnumst leiknum því að það eru nokkrir hlutir sem við þurfum að fá að vita. Svo byrjar leikurinn.</p>

  <p class="index-content__caption-text">Möggnuð upplifun full af spennu, hlaupum, sköpun, hugvitsemi hugrekki, gleði, samnhjálp og fegurð</p>

  <p class="index-content__intro-text">Við ætlum að leika okkur úti í gtóðursælli náttúruni í spennandi umhverfi Lækjarbotna. Í hrauninu, milli trjána í giljunum og í grasinu úti í góða veðrinu. Þar verður hægt að byggja sér hús í littla þorpunu okkar, neggla, saga, hlaða steinum og hengj upp tjöld.

  Það má tálga, kveikja eld, gera sverð, singja og dansa. Kanski eru þeir sem finna nóg hugrekki hjá sér til að fara út fyrir örugt umhverfi þorpsins og kanna heiminn þar fyrir utan, en þar leinast villtar verur sem hafa óbeitt á öllu sem er fallegt, reina að fanga þá sem ráfa burt einir og gleyma sér stundarkorn. Kanski eru þeir sem eru nógu hugrakkir til að fara og berjast við þessi vondu öfl fanga þessar verur og sigra.</p>

  <p class="index-content__caption-text">Leikur sem snýst um samvinnu, sköpun, uppbyggingu og hið góða og fallega sem getur dimmu í dagsljós breitt.</p>

</div>

{% include email.html %}
