---
layout: default
---

<header class="index-header sirkus-bg">
  {% include header.html %}
  <h2 class="index-header__subtitle">Lærðu að leik sirkuslistir <br> undir berum himmni</h2>
  {% include nav.html %}
</header>

<div class="index-content">
  <p class="index-content__intro-text">Á námskeiðunum hjá okkur er farið undirstöðuatriðinn í sirkus og sviðsframkomu með áherslu á sköpun. Staðsetninginn og aðstaðann okkar bíður uppá það að æfa og sýna sirkus undir berum himmni og upplifa það að takast á við hið ótrúlega á fallegum stað.</p>

  <p class="index-content__caption-text">Komdu og fljúgðu um loftinn blá, storkaðu þyngdaraflinu eða bygðu risastórann pýramýdda. Lærðu að geggla og fara í stökk og handahlaup.</p>

  <p class="index-content__intro-text">Boðið er uppá fimleika, geggl, línudans trampólín, listir í rólu, reipi og silki, trúðaleik, dans, og allt annað sem okkur dettur í hug og langar að gera samann. Miðað er við kenslu úti í náttúruni en einnig er sirkusaðstaða inni. Námskeiðið er haldið í fallegu umhverfi og aðstöðu Waldorfskólans í lækjarbotnum. Okkar markmið er að allir hafi gamann af því sem við gerum og fái að upplifa það að takast á við sjálfan sig í gegnum leik, sirkus og sviðsframkomu úti í skemtilegu umhverfi.
</p>

<div class="index-content__courses-container">
  <h1 class="index-content__courses__title">Sirkus</h1>
  <div class="index-content__courses">

    <div class="course accept">
      <div class="course-date-background">
        <p class="course-date">27.júní - 1.júlí</p>
      </div>
      <p class="course-info">Fyrir 8-13 ára</p>
      <p class="course-info">Verð 43.000</p>
    </div>

    <div class="course accept">
      <div class="course-date-background">
        <p class="course-date">27.júní - 1.júlí</p>
      </div>
      <p class="course-info">Fyrir 8-13 ára</p>
      <p class="course-info">Verð 43.000</p>
    </div>

    <div class="course accept">
      <div class="course-date-background">
        <p class="course-date">27.júní - 1.júlí</p>
      </div>
      <p class="course-info">Fyrir 8-13 ára</p>
      <p class="course-info">Verð 43.000</p>
    </div>

    <div class="course accept">
      <div class="course-date-background">
        <p class="course-date">27.júní - 1.júlí</p>
      </div>
      <p class="course-info">Fyrir 8-13 ára</p>
      <p class="course-info">Verð 43.000</p>
    </div>

  </div>
</div>


</div>

{% include email.html %}
