---
layout: default
---

<section class="index-hero sirkus-bg">
  {% include header.html %}
  <h2 class="index-hero__subtitle ">
    Lærðu að leika sirkuslistir <br />
    undir berum himni
  </h2>
</section>

<div class="index-content">
  <p class="index-content__intro-text">
    Á námskeiðunum hjá okkur er farið í undirstöðuatriðin í sirkus og
    sviðsframkomu með áherslu á sköpun. Staðsetningin og aðstaðan okkar bíður
    uppá að æfa og sýna sirkus undir berum himni og upplifa það að takast á við
    hið ótrúlega á fallegum stað.
  </p>

  <p class="index-content__caption-text">
    Komdu og fljúgðu um loftin blá, storkaðu þyngdaraflinu eða byggðu risastóran
    pýramýda. Lærðu að geggla, fara í stökk og handahlaup.
  </p>

  <p class="index-content__intro-text">
    Boðið er uppá fimleika, geggl, línudans trampólín, listir í rólu, reipi og
    silki, trúðaleik, dans, og allt annað sem okkur dettur í hug og langar að
    gera saman. Miðað er við kennslu úti í náttúrunni en einnig er sirkusaðstaða
    inni. Námskeiðið er haldið í fallegu umhverfi og aðstöðu Waldorfskólans í
    Lækjarbotnum. Okkar markmið er að allir hafi gaman af því sem við gerum og
    fái að upplifa það að takast á við sjálfan sig í gegnum leik, sirkus og
    sviðsframkomu úti í skemmtilegu umhverfi.
  </p>

  <div class="index-content__courses-container">
    <h1 class="index-content__courses__title">Sirkus</h1>

    <div class="index-content__courses">
      <a class="courses-anchor" href="#">
        <div class="course accept unavailable">
          <div class="course-date-background">
            <p class="course-date">Frestað</p>
          </div>
          <p class="course-info">Fyrir 8-13 ára</p>
          <p class="course-info">Verð 43.000</p>
        </div>
      </a>

      <a class="courses-anchor" href="#">
        <div class="course accept unavailable">
          <div class="course-date-background">
            <p class="course-date">Frestað</p>
          </div>
          <p class="course-info">Fyrir 8-13 ára</p>
          <p class="course-info">Verð 43.000</p>
        </div>
      </a>
    </div>
  </div>
</div>

{% include email.html %}
