---
layout: default
---

<section class="index-hero umOkkur-bg">
  {% include header.html %}
  <h2 class="index-hero__subtitle ">Um Okkur</h2>
  {% include nav.html %}
</section>

<div class="index-content">
  <p class="index-content__intro-text">
    Í nútímanum upplifa börn mest ævintýraheima í gegnum skjámiðla svo sem
    sjónvarp og tölvur. Við viljum bjóða börnum að vera inni í þessum heimi
    ævintýranna á öruggann en raunverulegan hátt. Vera úti í náttúrunni sem mest
    og læra að virða hana, nýta og njóta. Til þess viljum við setja upp réttar
    aðstæður sem gefa þáttakendum öryggi og kraft en samt eins nálægt náttúrunni
    og við getum.
  </p>

  <p class="index-content__caption-text">
    Við viljum gefa ímyndunaraflinu stað í raunveruleikanum. Okkur langar að
    bjóða börnum og fullorðnum með okkur í heillandi ljóðrænt ferðalag inní ríki
    ímyndunaraflsins.
  </p>

  <p class="index-content__intro-text">
    Stað þar sem við getum á einlægan hátt upplifað náttúruna og reynt á alvöru
    hugrekki, þor og samhjálp. Þar sem að við getum upplifað okkur sjálf í
    félagi við aðra og kynnst heiminum, náttúrunni og frumefnunum. Í gegnum
    sögur, útiveru, leik, leiklist, sirkus, dans, söng og náttúruna viljum við
    bjóða ykkur að koma og taka þátt í ævintýrum með okkur.
  </p>

  <!--
  <div class="index-content__staff">

    <h2 class="index-content__staff-header">Starfsfólk</h2>

    <div class="index-content__staff__list">

      <div class="staff">
        <div class="staff-info">
          <img class="staff-image" src="/imagesStaff/IMG_3456.jpeg" alt="image">
          <p class="staff-name">Viktor Holanders</p>
          <p class="staff-job">Sögumaður, gjaldkeri</p>
          <p class="staff-about">
            Viktor Hollanders  er since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five er since the 1500s, when an unknown printer took a galley of type and scrambled it to make.
          </p>
        </div>
        <div class="staff__contact">
          <div class="staff__contact-icon">
            <img class="staff__contact-phone" src="/icons/phone.png" alt="phonenumber">
          </div>
          <div class="staff__contact-icon">
            <img class="staff__contact-email" src="/icons/email.png" alt="email">
          </div>
        </div>
      </div>

      <div class="staff">
        <div class="staff-info">
          <img class="staff-image" src="/imagesStaff/IMG_3456.jpeg" alt="image">
          <p class="staff-name">Viktor Holanders</p>
          <p class="staff-job">Sögumaður, gjaldkeri</p>
          <p class="staff-about">
            Viktor Hollanders  er since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five er since the 1500s, when an unknown printer took a galley of type and scrambled it to make.
          </p>
        </div>
        <div class="staff__contact">
          <div class="staff__contact-icon">
            <img class="staff__contact-phone" src="/icons/phone.png" alt="phonenumber">
          </div>
          <div class="staff__contact-icon">
            <img class="staff__contact-email" src="/icons/email.png" alt="email">
          </div>
        </div>
      </div>

      <div class="staff">
        <div class="staff-info">
          <img class="staff-image" src="/imagesStaff/IMG_3456.jpeg" alt="image">
          <p class="staff-name">Viktor Holanders</p>
          <p class="staff-job">Sögumaður, gjaldkeri</p>
          <p class="staff-about">
            Viktor Hollanders  er since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five er since the 1500s, when an unknown printer took a galley of type and scrambled it to make.
          </p>
        </div>
        <div class="staff__contact">
          <div class="staff__contact-icon">
            <img class="staff__contact-phone" src="/icons/phone.png" alt="phonenumber">
          </div>
          <div class="staff__contact-icon">
            <img class="staff__contact-email" src="/icons/email.png" alt="email">
          </div>
        </div>
      </div>

    </div>
  </div>
  -->
</div>
