.courseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 88px;
}

.heading {
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.subHeading {
  font-size: 2.4rem;
  color: var(--primary-color);
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 32px;
}
