<form action="https://soguheimar.us7.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="1ab26e7d2b8070eafc3da6a25">
    <input type="hidden" name="id" value="114b8a66bc">

  <div class="email-signup-content">
    <h1 class="email-signup-title">Skráðu þig á póstlista fyrir viðburði og námskeið</h1>
    <input class="email-signup-input" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
    <input class="email-signup-button" type="submit" class="formEmailButton" name="submit" value="Skrá mig">
  </div>
</form>
