<section class="faq-wrapper">
  <h1 class="faq-title">
    Algengar <br />
    spurningar
  </h1>

  <section class="faq-list">
    <ul class="faq-list__left">
      <li class="faq-list__item">
        <div class="faq-list__item__question">
          <p class="qAndA-question__content">Aðstaðan?</p>
          <img class="opener" src="/icons/close.png" alt="close icon" />
        </div>
        <div class="faq-list__item__answer">
          <p>
            Við gistum í tjöldum og erum mest megnis úti við allan daginn. Á
            staðnum er hús þar sem að við geymum dótið okkar sem þarf að vera
            þurt, einnig höfum við hús til að borða í og aðstöðu þar sem við
            getum eldað í skjóli.
          </p>
        </div>
      </li>

      <li class="faq-list__item">
        <div class="faq-list__item__question">
          <p class="qAndA-question__content">Aðstaðan?</p>
          <img class="opener" src="/icons/close.png" alt="close icon" />
        </div>
        <div class="faq-list__item__answer">
          <p>
            Við gistum í tjöldum og erum mest megnis úti við allan daginn. Á
            staðnum er hús þar sem að við geymum dótið okkar sem þarf að vera
            þurt, einnig höfum við hús til að borða í og aðstöðu þar sem við
            getum eldað í skjóli.
          </p>
        </div>
      </li>
    </ul>

    <ul class="faq-list__right">
      <li class="faq-list__item">
        <div class="faq-list__item__question">
          <p class="qAndA-question__content">Aðstaðan?</p>
          <img class="opener" src="/icons/close.png" alt="close icon" />
        </div>
        <div class="faq-list__item__answer">
          <p>
            Við gistum í tjöldum og erum mest megnis úti við allan daginn. Á
            staðnum er hús þar sem að við geymum dótið okkar sem þarf að vera
            þurt, einnig höfum við hús til að borða í og aðstöðu þar sem við
            getum eldað í skjóli.
          </p>
        </div>
      </li>
    </ul>
  </section>
</section>
