<section class="faq-wrapper">
  <h1 class="faq-title">
    Algengar <br />
    spurningar
  </h1>

  <section class="faq-list">
    <ul class="faq-list__left">
      <li class="faq-list__item">
        <div class="faq-list__item__question">
          <p class="qAndA-question__content">Aðstaðan?</p>
          <img class="opener" src="/icons/close.png" alt="close icon" />
        </div>
        <div class="faq-list__item__answer">
          <p>
            Við gistum í tjöldum og erum mest megnis úti við allan daginn. Á
            staðnum er hús þar sem að við geymum dótið okkar sem þarf að vera
            þurt, einnig höfum við hús til að borða í og aðstöðu þar sem við
            getum eldað í skjóli.
          </p>
        </div>
      </li>

      <li class="faq-list__item">
        <div class="faq-list__item__question">
          <p class="qAndA-question__content">Mataræði ofnæmi og óþol?</p>
          <img class="opener" src="/icons/close.png" alt="close icon" />
        </div>
        <div class="faq-list__item__answer">
          <p>
            Við leggjum okkur fram um að bjóða uppá lífræn og góð hráefni í
            matinn sem við eldum. Við viljum gjarnan fá að heyra frá ykkur ef
            barnið ykkar er með óþol, ofnæmi eða annað sérstak mataræði. Við
            erum vön að finna lausnir með mat sem tryggir öruggi allra og
            vel-líðann. Þið getið sagt okkur frá þessu með því að fylla út í
            skráningarformið undir “annað”.
          </p>
        </div>
      </li>
      <li class="faq-list__item">
        <div class="faq-list__item__question">
          <p class="qAndA-question__content">Hvenar? Hvar? Hvað?</p>
          <img class="opener" src="/icons/close.png" alt="close icon" />
        </div>
        <div class="faq-list__item__answer">
          <p>
            Við sendum ykkur upplýsingar til baka um þessa hluti í staðfestingar
            tölvupóst sem þið fáið eftir skráningu. Hvar og hvenær á að mæta og
            hverju þarf að pakka niður fyrir svona ævintýraför.
          </p>
        </div>
      </li>
    </ul>

    <ul class="faq-list__right">
      <li class="faq-list__item">
        <div class="faq-list__item__question">
          <p class="qAndA-question__content">Hverjir eru að kenna?</p>
          <img class="opener" src="/icons/close.png" alt="close icon" />
        </div>
        <div class="faq-list__item__answer">
          <p>
            Undir flipanum <a class="faq-link" href="/umokkur">Um okkur</a> má
            finna alla sem vinna fyrir söguheima og koma að námskeiðum hjá
            okkur. Við sem erum með sumarbúðirnar erum titluð “Sagnaþulir”.
            Allir sem vinna hjá söguheimum eru vanir leiðbenendur og
            útivistarfólk.
          </p>
        </div>
      </li>
      <li class="faq-list__item">
        <div class="faq-list__item__question">
          <p class="qAndA-question__content">Hvernig borga ég?</p>
          <img class="opener" src="/icons/close.png" alt="close icon" />
        </div>
        <div class="faq-list__item__answer">
          <p>
            Við sendum kröfu í heimabankann þegar þið hafið sent
            skráningarupplýsingar, en í skráningarforminu þarf meðal annars að
            fylla inn kennitölu.
          </p>
        </div>
      </li>
      <li class="faq-list__item">
        <div class="faq-list__item__question">
          <p class="qAndA-question__content">Pökkunarlistinn</p>
          <img class="opener" src="/icons/close.png" alt="close icon" />
        </div>
        <div class="faq-list__item__answer">
          <p>
            Hérna er pökkunarlistinn ef þið finnið eki pökkunarlistann þá er
            hægt að nálgast hann
            <a
              class="faq-link"
              href="/images/Pökkunarlisti 22.pdf"
              target="_blank"
              rel="noopener noreferrer"
              >hér</a
            >.
          </p>
        </div>
      </li>
    </ul>
  </section>
</section>
