<!-- <section class="faq-container">
  <h1 class="faq-title">
    Algengar <br />
    spurningar
  </h1>

  <div class="faq__content">
    <div class="QandA-container__left">
      <div class="QandA-container">
        <div class="QandA-question">
          <p class="QandA-question__content">Aðstaðan?</p>
          <img
            class="openCloseImage openClose"
            src="/icons/close.png"
            alt="close icon"
          />
        </div>
        <div class="QandA-answer">
          <p class="QandA-answer__content">
            Við gistum í tjöldum og erum mest megnis úti við allan daginn. Á
            staðnum er hús þar sem að við geymum dótið okkar sem þarf að vera
            þurt, einnig höfum við hús til að borða í og aðstöðu þar sem við
            getum eldað í skjóli.
          </p>
        </div>
      </div>
    </div>

    <div class="QandA-container__right">
      <div class="QandA-container">
        <div class="QandA-question">
          <p class="QandA-question__content">Aðstaðan?</p>
          <img
            class="openCloseImage openClose"
            src="/icons/close.png"
            alt="close icon"
          />
        </div>
        <div class="QandA-answer">
          <p class="QandA-answer__content">
            Við gistum í tjöldum og erum mest megnis úti við allan daginn. Á
            staðnum er hús þar sem að við geymum dótið okkar sem þarf að vera
            þurt, einnig höfum við hús til að borða í og aðstöðu þar sem við
            getum eldað í skjóli.
          </p>
        </div>
      </div>
    </div>
  </div>
  <p class="faq-container__text">
    Ef þú hefur spurningu sem er ekki að finna hér að ofan eða þér finnst að það
    mætti bæta við þennan lista sendu okkur endilega línu á
    <b
      ><a href="mailto:{{ site.email }}">{{ site.email }}</a></b
    >
  </p>
</section> -->
