
<footer class="site-footer">

  <img class="site-footer__image" src="images/soguheimar-logo-alt.png" srcset="images/soguheimar-logo-alt.png 1x, images/soguheimar-logo-alt@2x.png 2x" alt="Söguheimar">

  <ul class="site-footer__items">
    <li class="site-footer__item">
      Waldorfskólinn Lækjarbotnum, Lækjarbotnalandi 53, 203 Kópavogur
    </li>
    <li class="site-footer__item">
      <a class="site-footer__link" href="mailto:{{ site.email }}">
        {{ site.email }}
      </a>
    </li>
    <li class="site-footer__item">
      <a class="site-footer__link" href="https://www.facebook.com/Söguheimar-275980159231246">
        Söguheimar á facebook
      </a>
    </li>
  </ul>

</footer>
