<footer class="site-footer">

  <ul class="site-footer__social-items">
    <li class="site-footer__item">
      <a class="site-footer__link" href="https://www.facebook.com/Söguheimar-275980159231246" target="_blank" rel="noopener noreferrer"
        <div class="site-footer__icon-container">
          <img class="site-footer__icon" src="/icons/facebook.png" srcset="/icons/facebook.png 1x, /icons/facebook@2x.png 2x" alt="facebook">
        </div>
      </a>
    </li>
    <li class="site-footer__item">
      <a class="site-footer__link" href="https://goo.gl/maps/9Lb6tZHBz3E2" target="_blank" rel="noopener noreferrer">
        <div class="site-footer__icon-container">
          <img class="site-footer__icon" src="/icons/location.png" srcset="/icons/location.png 1x, /icons/location@2x.png 2x" alt="location">
        </div>
      </a>
    </li>
    <li class="site-footer__item">
      <a class="site-footer__link" href="">
        <div class="site-footer__icon-container">
          <img class="site-footer__icon site-footer__icon-fish" src="/icons/fish.png" srcset="/icons/fish.png 1x, /icons/fish@2x.png 2x" alt="donation">
        </div>
      </a>
    </li>
  </ul>

  <ul class="site-footer__contact-items">
    <li class="site-footer__contact-item">
      <a class="site-footer__email" href="mailto:{{ site.email }}">
        {{ site.email }}
      </a>
    </li>
    <li class="site-footer__item">
      <p class="site-footer__bankInfo">Kennitala: 490615-1990</p>
    </li>
    <li class="site-footer__item">
      <p class="site-footer__bankInfo">Banki: 0133-26-010833</p>
    </li>
  </ul>

  <p class="site-footer__copy">&copy; soguheimar</p>
</footer>
