
<header class="site-header">

  <div class="site-header__nativation-toggle">
    <div class="site-header__nativation-toggle__line"></div>
    <div class="site-header__nativation-toggle__line"></div>
    <div class="site-header__nativation-toggle__line"></div>
  </div>

  <nav class="site-header__navigation">
    <a class="site-header__navigation__item" href="/">Söguheimar</a>
    <a class="site-header__navigation__item" href="/sirkus">Sirkus</a>
    <a class="site-header__navigation__item" href="/sumarbudir">Sumarbúðir</a>
    <a class="site-header__navigation__item" href="/leikdagur">Leikdagur</a>
    <a class="site-header__navigation__item" href="/hafasamband">Hafa samband &amp; staðsetning</a>
  </nav>
  
</header>
