<header class="site-header">
  <a class="site-header__logo-anchor" href="/">
    <img
      class="site-header__logo-image"
      src="/icons/soguheimar-logo.png"
      srcset="/icons/soguheimar-logo.png 1x, /icons/soguheimar-logo@2x.png 2x"
      alt="logo"
    />
  </a>

  <h1 class="site-header__title">Söguheimar</h1>

  <div class="site-header__toggle">
    <span class="site-header__toggle__line"></span>
    <span class="site-header__toggle__line"></span>
    <span class="site-header__toggle__line"></span>
  </div>

  <div class="overlay">
    <nav class="site-navigation">
      <a class="site-navigation__item" href="/">Heim</a>
      <a class="site-navigation__item" href="/sumarbudir">Sumarbúðir</a>
      <a class="site-navigation__item" href="/sirkus">Sirkus</a>
      <a class="site-navigation__item" href="/leikdagur">Leikdagur</a>
      <a class="site-navigation__item" href="/umokkur">Um okkur</a>
    </nav>
  </div>
</header>
