<div class="site-header__navigation">
  <div class="navigation__toggle__container">
    <div class="navigation__toggle-close">
      <div class="navigation__toggle-close__line"></div>
      <div class="navigation__toggle-close__line"></div>
      <div class="navigation__toggle-close__line"></div>
    </div>
  </div>

  <nav class="site-navigation">
    <a class="site-navigation__item" href="/">Heim</a>
    <a class="site-navigation__item" href="/sumarbudir">Sumarbúðir</a>
    <a class="site-navigation__item" href="/sirkus">Sirkus</a>
    <a class="site-navigation__item" href="/leikdagur">Leikdagur</a>
    <a class="site-navigation__item" href="/umokkur">Um okkur</a>
  </nav>
</div>
