.site-header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background: transparent;
  padding: 5vh 0vw 0vw;
  width: 100vw;
}

.site-header__logo-image {
  height: 56px;
  width: auto;
}

.site-header__title {
  font-family: $header-title__font-family;
  font-size: 1.5em;
  color: $yellow;
  font-weight: bold;
  letter-spacing: 2.6;
}

.site-header__toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  padding: 1px 0px;
  border: 0;
  background: transparent;
}

.site-header__toggle__line {
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}

.site-header__toggle--active .site-header__toggle__line:first-child {
  transform: translateY(10px) rotateZ(225deg);
  transform-origin: 31px 10px;
  background: $red;
}

.site-header__toggle--active .site-header__toggle__line:nth-child(2) {
  opacity: 0;
  transform: rotateZ(90deg);
}

.site-header__toggle--active .site-header__toggle__line:last-child {
  transform: translateY(-10px) rotateZ(135deg);
  background: $red;
}

.site-header__navigation {
  display: none;
}

@media screen and (min-width: 600px) {
  .site-header__navigation {
    display: flex;
  }
}
