.faq-container {
    margin: 100px 0 0 0;
}

.faq-title {
    font-size: 40px;
    text-align: center;
    color: $blue;
}
 
.faq__content,
.QandA-container__left, 
.QandA-container__right {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.QandA-container {
    width: 90%;
    margin: 0 auto;
}

.openClose .rotate  {
    transform: rotate(45deg);
}

.QandA-question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    border-top: #BBBBBB solid 0.8px;
    border-bottom: #BBBBBB solid 0.8px;
    padding: 20px 0;
}

.QandA-question__content {
    font-size: 21px;
    font-weight: 700;
    margin: 0px;
}

.QandA-question__content .open {
    display: block;
}

.QandA-question img {
    height: 40px;
    width: 40px;
}


.QandA-answer__content {
    font-size: 16px;
    margin: 20px 0;
    line-height: 1.5;

    display: none;
}

.faq-container__text {
    width: 90%;
    margin: 0 auto;
    padding: 60px 0 0 0;
}


@media screen and (min-width: 700px) {
    .faq__content {
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
    }

    .QandA-container__left, 
    .QandA-container__right {
        width: 80%;
        margin: 0 10px;  
    }
}