.section {
    margin-top: 90px;

    display: grid;
    grid-template-columns: auto 700px auto;
    grid-template-rows: auto auto;
}

.mainHeading {
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 42px;

    grid-area: 1 / 2 /2 /3;
    align-self: center;
}

.contentContainer {
    grid-area: 2 / 2 / 3 / 3;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.callOut {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 4.6rem;
    max-width: 300px;
}

.form {
    max-width: 365px;
}

.input {
    font-size: 1.6rem;
    padding: 18px 16px;
    border: 1px solid var(--gray-100);
    border-radius: 10px;
    margin-bottom: 24px;
    width: 365px;
}
