.button {
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--primary-color);

    padding: 0 24px;
    border-radius: 12px;
    border: none;
}

button:hover {
    background-color: var(--secondary-color);
}
