.button {
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--black);

    padding: 0 24px;
    border-radius: 12px;
    border: none;

    display: flex;
    align-items: center;
}

.button:hover {
    background-color: var(--secondary-color);
}
