.hero {
    display: flex;
    justify-content: center;
}

.heroText {
    position: absolute;
    max-width: 60rem;
    color: var(--primary-color);
    font-family: "inter";
    line-height: 2.6rem;
}
