.heroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80vh;
}

.heroImage {
    object-fit: cover;
    z-index: -1;
    opacity: 80%;
}

.heroText {
    position: absolute;
    margin: 16px;
    max-width: 700px;
    color: var(--primary-color);
}
