.footer {
  background-color: var(--gray-10);
  padding: 34px 10%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 88px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.infoHeader {
  color: var(--primary-color);
}

.address {
  margin: 0;
}

.link {
  color: var(--black);
  text-decoration: none;
}

#mapLink {
  margin-top: 8px;
  text-decoration: underline;
}

.contactItem {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-bottom: 16px;
}

.contactLable {
  margin: 0;
}

.seperator {
  gap: 2px;
}

.copyright {
  grid-column: 1 / -1;
  text-align: center;
  margin: 55px 0 24px 0;
}
